<div class="admin-page">
  <div class="admin-header">
    <h1 class="admin-title">Manage Categories</h1>
    <div class="admin-nav">
      <%= link_to "Manage Items", admin_items_path, class: "admin-nav-link" %>
      <%= link_to "View Site", "/", class: "admin-nav-link" %>
    </div>
  </div>

  <div class="admin-actions">
    <%= link_to "+ Add New Category", new_admin_category_path, class: "admin-btn-primary" %>
  </div>

  <div class="admin-table-container">
    <table class="admin-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Items Count</th>
          <th class="actions-column">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td class="item-name-cell"><%= category.name %></td>
            <td><%= truncate(category.description, length: 80) %></td>
            <td><%= category.items.count %></td>
            <td class="actions-cell">
              <%= link_to "View", admin_category_path(category), class: "action-link" %>
              <%= link_to "Edit", edit_admin_category_path(category), class: "action-link" %>
              <%= link_to "Delete", admin_category_path(category),
                  data: { "turbo-method": :delete, "turbo-confirm": "Are you sure? This will delete all items in this category!" },
                  class: "action-link action-delete" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
